apiVersion: v1
kind: Service
metadata:
  name: fastapi-backend-service
  namespace: testing
spec:
  selector:
    app: fastapi-backend
  type: NodePort  # <--- UBAH DARI ClusterIP MENJADI NodePort
  ports:
    - protocol: TCP
      port: 80         # Port internal cluster (antar service)
      targetPort: 8000 # Port aplikasi di container (Uvicorn/FastAPI)
      nodePort: 30094  # <--- OPSIONAL: Harus di range 30000-32767    - protocol: TCP
