apiVersion: v1
kind: Namespace
metadata:
  name: deployment
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: fastapi-frontend
  namespace: production  # <--- Konsisten
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: docker.io/diwamln/fastapi-frontend:build-7-b96ae22-prod
        ports:
        - containerPort: 80
        resources:
          limits:
            memory: "128Mi"
            cpu: "500m"
