apiVersion: v1
kind: Service
metadata:
  name: fastapi-frontend
  namespace: production  # <--- PERBAIKAN: Harus sama dengan Deployment
spec:
  type: NodePort
  selector:
    app: frontend
  ports:
    - port: 80
      targetPort: 80
      nodePort: 30080
